h1{
    color: blue;
    text-align: center;
}

h2{
    text-decoration: underline;
}

.fin{
    text-decoration: line-through;
}

#title{
    color: greenyellow;
}

#body2{
    background-color: black;
    margin: 0;
}

.banniere2 {
    padding: 100px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter de l'espace dans notre élément*/
    background: linear-gradient(90deg, #8360c3, #2ebf91);
}

.lien:hover{
    background-color: #BEAEE2;
    color: white;
}

a:hover{
    color: blue
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 24px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

.conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    border: black;
    border-radius: 10px;
    grid-template-columns: 200px 200px 200px;
    margin: auto;
    background-color: #BEAEE2;
}
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px){
    h1{
        color: red;
    }

    p{
        color: blue;
        font-size: 1.2em;
    }

    img {
        width: 50%;
        min-width: 400px;
    }
}
/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait){
    h1{
        background-color: lightgrey;
    }

    p{
        font-size: 1.5em;
    }

    .body3{
        background-color: white;
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-size: 15px;
        height: 100px;
        border: 2px solid black;
        border-radius: 5px;
    }

    .conteneur {
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
        border: black;
        border-radius: 5px;
        grid-template-columns: 100px 100px 100px;
        margin: auto;
        background-color: #BEAEE2;
    }
}